/* Add application styles & imports to this file! */
:root{
    --mds-light: #ffffff;
    --mds-color: yellowgreen;
    --mds-color-tint: #476901;
}

body {font-family: "Open Sans", sans-serif;color: #555;font-size: 16px;margin:0;padding:0;}

a {color: var(--mds-color);text-decoration: none;}
a:hover {color: var(--mds-color-tint)}

#root {display: flex; flex-direction: column; height: 100vh; justify-content: space-between;}
nav { background: var(--mds-color); padding: 5px 15px;color: var(--mds-light) }
    .navbar { display: flex; }
    .navbar a {color:#fff;min-width: max-content;}
    .navbar a.active {color: var(--mds-color-tint)}
    .navbar a:after { content: ''; margin: 10px; border-left: 1px solid #bce26c; }
    .navbar a:last-child:after {border:0}
    .navbar.small { font-size: smaller; }
    .line {border-bottom: 1px solid;padding-top: 7px;margin-bottom: 7px;color: #bce26c;}
.container {max-width: 1200px;width: calc(100% - 30px);flex: auto; margin: 0 auto;}
    .row { display: flex; }
    .column { padding: 10px; width: 100%; }
footer { background: #f9f9f9; padding: 10px 15px; text-align: center; }


pre { font-size: 11px; background: #f9f9f9; padding: 15px; border: 1px solid #eee; border-radius: 5px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
.primary {color:var(--mds-color)}
.danger {color: red;background: #f7ebeb;}

@media (max-width: 480px){
    .navbar { overflow-y: scroll;}
    .row { display: unset; }
    .column { padding: 0; }
}

/*overwrite*/
.slick-slider { transform: scale(.95); }
.slick-slide .slick-content {background-color: #f9f9f9;text-align: center;}
.slick-next:before, .slick-prev:before { color: #ccc; }

.pagination { display: inline-block; padding-left: 0; margin: 20px 0;font-size: small; }
.pagination>li { display: inline; }
.pagination>li>a,.pagination>li>span { position: relative; float: left; padding: 6px 12px; margin:0 2.5px; line-height: 1.42857143; color: #888; text-decoration: none; background: #f8f8f8; border-radius: 4px; }
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus { color: #FFF;cursor: pointer; background: yellowgreen; }
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus { z-index: 2; color: #fff; cursor: default; background-color: yellowgreen; }
.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus { color: #e4e4e4; cursor: not-allowed; background: #f9f9f9; }